<h3 style="padding-bottom: 30px; text-transform: capitalize"><%= @wallet.title %>s</h3>
<div class="row justify-content-center" >
  <div class="col-md-4 col-lg-4">
    <div class="card" style="width: 20rem;">
      <div class="card-body">
        <h5 class="card-title card-title-shadow">User Wallet</h5>
        <p class="card-text">
        <div>
          <span>Balance: </span><strong><%= @wallet.user_wallets.first[:balance] %></strong>
          <br><%= link_to "Transaction details...", wallet_transactions_path(@wallet, role: "u")  %> </div>
        <hr>
        </p>
        <a href="#" class="btn btn-primary">Deposit</a>
        <a href="#" class="btn btn-primary">Transfer</a>
        <a href="#" class="btn btn-primary">Withdraw</a>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-lg-4">
    <div class="card" style="width: 20rem;">
      <div class="card-body">
        <h5 class="card-title card-title-shadow">Team Wallet</h5>
        <p class="card-text">
        <div>
          <span>Balance: </span><strong><%= @wallet.team_wallets.first[:balance] %></strong><br>
          <%= link_to "Transaction details...", wallet_transactions_path(@wallet, role: "t")  %></div>
        <hr>
        </p>
        <a href="#" class="btn btn-primary">Deposit</a>
        <a href="#" class="btn btn-primary">Transfer</a>
        <a href="#" class="btn btn-primary">Withdraw</a>
      </div>
    </div>
  </div>
  <div class="col-md-4 col-lg-4">
    <div class="card" style="width: 20rem;">
      <div class="card-body">
        <h5 class="card-title card-title-shadow">Stock Wallet</h5>
        <p class="card-text">
        <div><span>Balance: </span><strong><%= @wallet.stock_wallets.first[:balance] %></strong><br>
          <%= link_to "Transaction details...", wallet_transactions_path(@wallet, role: "s")  %></div>
        <hr>
        </p>
        <a href="#" class="btn btn-primary">Deposit</a>
        <a href="#" class="btn btn-primary">Transfer</a>
        <a href="#" class="btn btn-primary">Withdraw</a>
      </div>
    </div>
  </div>
</div>


